.chat-log {
  height: calc(69% + 8px);
  margin-top: -10px;
  overflow-x: hidden;
  overflow-y: auto;
  text-wrap: unset;
  text-align: left;
}

.chat-log::-webkit-scrollbar {
  display: none;
}

.chat-message {
  width: 100%;
  word-break: break-word;
  font-size: 1.07rem;
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.chat-thinking-text {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards, opacityAnimation 2.5s infinite 1.5s;
}

.loading-dots {
  display: inline-block;
  margin-left: -3px;
  letter-spacing: -2px;
}

.dot {
  opacity: 0;
  animation: blink 1.6s infinite both;
}

.dot-1 {
  animation-delay: 0s;
}
.dot-2 {
  animation-delay: 0.3s;
}
.dot-3 {
  animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacityAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.chat-message-icons {
  position: relative;
  flex-shrink: 0;
}

.user-icon {
  top: 3px;
  margin-right: 12px;
  margin-left: 1px;
}

.bot-icon {
  top: 2px;
  margin-right: 11px;
}

.bot {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid gray;
}

.chat-input-area {
  position: absolute;
  bottom: 12px;
  left: 8.5px;
  height: 55.75px;
  width: 88.55%;
  padding: 0 46.7px 0 11.5px;
  background-color: rgba(var(--bg-color), 0.7);
  border: 3.5px solid transparent;
  border-radius: 10px;
  color: white;
  outline: none;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all 0.1s linear;
}

.chat-input-area:focus {
  border: 3.5px solid rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: white;
  opacity: 0.7;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.prompt-count {
  position: absolute;
  bottom: 29px;
  right: 28px;
  font-size: 20px;
  z-index: 1000;
}

.image-toggle-button {
  position: absolute;
  bottom: 70px;
  left: 1px;
  padding: 6px 12px;
  font-size: 0.9rem;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: all 0.1s linear;
}

.image-toggle-button:hover {
  opacity: 0.7;
}

.image-toggle-button i {
  text-decoration: none;
}
