.image-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  margin-top: -70px;
  scrollbar-width: none;
}

.like-overlay {
  display: none;
}

.image-carousel-slide {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  position: relative;
}

.image-carousel-slide img {
  width: 100%;
  height: 100%;
  filter: brightness(0.78) blur(1px) contrast(1.2) saturate(1.2);
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.toc {
  position: absolute;
  top: 20%;
  left: 2%;
  height: calc(24px + 55%);
  width: 12.5vw;
  background: rgba(0, 0, 0, 0.5);
  clip-path: inset(0 round 15px);
  padding: 25px;
  padding-top: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  font-size: 1.21rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.toc h3 {
  font-size: 1.35rem;
  margin-top: 26px;
  margin-bottom: 5px;
  margin-left: -7px;
  color: white;
}

.toc h4 {
  font-size: 1.1rem;
  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-weight: 550;
}

.toc h5 {
  font-size: 0.95rem;
  margin-top: -7px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-style: italic;
}

.toc a {
  color: white;
  text-decoration: none;
}

.toc a:hover {
  opacity: 0.7;
}

.description {
  position: absolute;
  top: 20%;
  left: 19.8%;
  height: 55%;
  width: 40.5vw;
  background: rgba(0, 0, 0, 0.5);
  clip-path: inset(0 round 15px);
  padding: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-size: 1.2rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.description h2 {
  font-size: 1.9rem;
  text-decoration: bold;
  margin-top: 4px;
  margin-bottom: 16px;
}

.description p {
  margin-bottom: 0;
}

.view-count {
  position: absolute;
  bottom: 1.5%;
  left: 1%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 8px 15px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  color: white;
  font-size: large;
}

.view-count a {
  color: white;
  text-decoration: none;
}

.view-count a:hover {
  opacity: 0.7;
}

.last-edited {
  position: absolute;
  bottom: 1.5%;
  right: 1%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 12px;
  padding: 8px 15px;
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
  color: white;
  font-size: large;
}

.last-edited a {
  color: white;
  text-decoration: none;
}

.last-edited a:hover {
  opacity: 0.7;
}

.search {
  position: absolute;
  top: 20%;
  right: 2%;
  height: 40%;
  width: calc(29vw + 25px);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 10px 0 0 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-size: 1.19rem;
  overflow: hidden;
  align-content: center;
}

.search h2 {
  font-size: 2rem;
  text-decoration: bold;
  margin-top: 28px;
  margin-bottom: 22px;
}

.search h2:hover .search-online-text {
  opacity: 0.7;
}

.like-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: bold;
  margin-top: 8px;
  margin-bottom: 22px;
}

.search button:hover .search-liked-text {
  opacity: 0.7;
}

.article-link {
  position: absolute;
  top: 62.6%;
  right: 2%;
  height: 11vh;
  width: 29vw;
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: white;
  font-size: 1.21rem;
  overflow: hidden;
  text-align: center;
  align-content: center;
  transition: background 0.1s linear;
}

.article-link:hover {
  background: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 1181px) {
  .toc {
    left: 1.5%;
  }

  .description {
    width: 37.5vw;
  }

  .search {
    right: 1.5%;
  }

  .article-link {
    right: 1.5%;
  }
}
