@media only screen and (max-width: 900px) {
  .image-container {
    margin-top: -97px;
    z-index: -100;
  }

  .loading-overlay {
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    font-size: 1rem;
  }

  .loading-overlay h2 {
    margin-top: 30px;
    margin-bottom: -5px;
    padding-left: 8px;
    font-size: 1.25rem;
  }

  .loading-overlay p {
    bottom: auto;
    left: 10%;
    width: 80%;
    font-size: 0.9rem;
  }

  .like-overlay {
    display: inline;
    position: absolute;
    top: 14.5vh;
    left: 0;
    height: 80vh;
    width: 100vw;
    background-color: transparent;
    z-index: 600;
  }

  .like-feedback {
    display: inline;
    position: absolute;
    top: 30vh;
    left: 32%;
    height: 150px;
    width: 150px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 2000;
    text-align: center;
    align-content: center;
    animation: fadeOut 0.5s ease-in-out 0.5s forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .iframe-button-wrapper .iframe-toggle-button {
    opacity: 0.1;
    transition: opacity 0.2s 0.2s ease;
  }

  .iframe-button-wrapper:focus .iframe-toggle-button {
    opacity: 1;
  }

  .iframe-toggle-button {
    left: 4%;
    padding: 8px 12px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: 15px;
    font-size: 0.8rem;
    z-index: 701;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .iframe-toggle-button:focus span {
    opacity: 1;
  }

  .iframe {
    clip-path: inset(0 round 0);
    border-radius: 20px;
    align-content: center;
    text-align: center;
    box-shadow: none;
    top: 19.8%;
    left: 3.5vw;
    height: calc(51% + 27px);
    width: calc(85vw + 27px);
    padding: 0.5px 1.5px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    transition: opacity, transform 0.2s ease;
  }

  .iframe iframe {
    height: 98.25%;
    width: 98.25%;
    margin-top: 3px;
    margin-bottom: -1px;
    border: none;
    clip-path: inset(0px round 15px);
    font-size: 1.25rem;
  }

  .toc {
    display: none;
  }

  .description {
    scrollbar-width: auto;
    box-shadow: none;
    top: 44.5%;
    right: 0;
    left: 3.5vw;
    height: 26%;
    width: 85vw;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 0.86rem;
    padding: 15px;
    transition: opacity, transform 0.2s ease;
  }

  .description h2 {
    font-size: 1.05rem;
    margin-top: 2px;
    margin-bottom: -3.5px;
  }

  .view-count {
    left: 3.75%;
    bottom: 9.25%;
    width: 120px;
    padding: 8px 12px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: none;
    font-size: 0.85rem;
    text-align: center;
    z-index: 600;
  }

  .view-count:hover {
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .last-edited {
    right: 3.75%;
    bottom: 9.25%;
    padding: 8px 12px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: none;
    font-size: 0.85rem;
    z-index: 600;
  }

  .last-edited:hover {
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .search-text {
    display: none;
  }

  .search {
    border: none;
    background: none;
    box-shadow: none;
    border-radius: 0;
    top: 60px;
    left: 3.3%;
    height: 0.9vh;
    width: calc(100% - 2px - 5.5%);
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    z-index: 1500;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search h2 {
    text-align: center;
    font-size: 2rem;
    margin: 15px;
    padding: 0px 0px 0px 12px;
    width: 100%;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transform: scale(1);
    transition: background-color 0.3s ease;
    touch-action: manipulation;
  }

  .search h2:hover,
  .search h2:active,
  .search h2:focus {
    animation: tapEffect 0.3s ease;
  }

  .search h2:nth-child(1) {
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 13px;
    width: 200px;
    padding-top: 0px;
    padding-bottom: 0.8px;
  }

  .search h2:nth-child(4) {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 200px;
    padding-top: 0px;
    padding-bottom: 3.25px;
  }

  @keyframes tapEffect {
    0% {
      transform: scale(1);
      background-color: rgba(var(--bg-color), 0.5);
    }
    50% {
      transform: scale(0.95);
      background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: scale(1);
      background-color: rgba(var(--bg-color), 0.5);
    }
  }

  .like-button {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 19px;
    margin-left: -12px;
    width: 115%;
    border-radius: 20px;
  }

  .article-link {
    border: none;
    box-shadow: none;
    top: calc(84% - 75px);
    right: 0;
    left: 3.5vw;
    height: 3vh;
    width: 79.5vw;
    z-index: 600;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.65);
    border-radius: 25px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .article-link:hover {
    background: rgba(var(--bg-color), 0.65);
    border: none;
  }

  .article-link > * {
    transform: scale(0.9);
  }

  .article-link:hover > * {
    opacity: 1;
  }

  .more-loading-overlay {
    padding-bottom: 10px;
    height: calc(65px - 10px);
    font-size: 1rem;
    backdrop-filter: blur(1px) saturate(200%);
    -webkit-backdrop-filter: blur(1px) saturate(200%);
    background: linear-gradient(
      to top,
      rgba(var(--bg-color), 1) 0%,
      rgba(var(--bg-color), 0) 100%
    );
  }
}
