@media only screen and (max-width: 900px) {
  .image-container {
    margin-top: -97px;
  }

  .like-overlay {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    z-index: 500;
  }

  .like-feedback {
    display: inline;
    position: absolute;
    top: 30vh;
    left: 32%;
    height: 150px;
    width: 150px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 2000;
    text-align: center;
    align-content: center;
    animation: fadeOut 0.5s ease-in-out 0.5s forwards;
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .toc {
    display: none;
  }

  .description {
    box-shadow: none;
    top: calc(46.5% - 21px);
    right: 0;
    left: 3.5vw;
    height: 26%;
    width: 85vw;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 0.87rem;
    padding: 15px;
    z-index: 600;
  }

  .description h2 {
    font-size: 1.1rem;
    margin-top: 6px;
    margin-bottom: -1px;
  }

  .view-count {
    left: 3.5%;
    bottom: 8.5%;
    width: 130px;
    padding: 8px 12px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 0.85rem;
    text-align: center;
    z-index: 600;
  }

  .last-edited {
    right: 3.5%;
    bottom: 8.5%;
    padding: 8px 12px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    font-size: 0.85rem;
    z-index: 600;
  }

  .search-text {
    display: none;
  }

  .search {
    background: none;
    box-shadow: none;
    border-radius: 0;
    top: 60px;
    left: 3.3%;
    height: 0.9vh;
    width: calc(100% - 2px - 5.5%);
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search h2 {
    text-align: center;
    font-size: 2rem;
    margin: 15px;
    padding: 0px 0px 0px 12px;
    width: 100%;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    transform: scale(1);
    transition: background-color 0.3s ease;
    touch-action: manipulation;
  }

  .search h2:hover,
  .search h2:active,
  .search h2:focus {
    animation: tapEffect 0.3s ease;
  }

  @keyframes tapEffect {
    0% {
      transform: scale(1);
      background-color: rgba(17, 25, 40, 0.5);
    }
    50% {
      transform: scale(0.95);
      background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
      transform: scale(1);
      background-color: rgba(17, 25, 40, 0.5);
    }
  }

  .like-button {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 19px;
    margin-left: -12px;
    width: 115%;
    border-radius: 20px;
  }

  .article-link {
    box-shadow: none;
    top: calc(84% - 75px);
    right: 0;
    left: 3.5vw;
    height: 3vh;
    width: 80.5vw;
    z-index: 600;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.65);
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }
}
