i {
  font-style: italic !important;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
}

.image-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  transition: all 0.25s linear;
}

.like-overlay {
  display: none;
}

.image-carousel-slide {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
  position: relative;
  background-attachment: fixed;
  background-color: black;
}

.image-carousel-slide img,
.image-carousel-slide video {
  width: 100%;
  height: 100%;
  filter: brightness(0.78) contrast(1.25) saturate(1.25);
  object-fit: cover;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  background-attachment: fixed;
}

.image-carousel-slide.loading {
  animation: alternatingBackground 2s ease-in-out infinite;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.9s ease-in;
}

.fade-in.loaded {
  opacity: 1;
}

@keyframes alternatingBackground {
  0% {
    background-color: #222222;
  }
  50% {
    background-color: #000;
  }
  100% {
    background-color: #222222;
  }
}

.loading-overlay {
  position: absolute;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  font-size: 1.2rem;
  overflow: hidden;
  z-index: 20000;
  background: rgba(var(--bg-color), 0.5);
  opacity: 1;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  text-align: center;
  align-content: center;
  cursor: wait;
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
}

.loading-overlay div {
  margin-top: -15px;
  animation: pulse 2.4s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.19);
  }
  100% {
    transform: scale(1);
  }
}

.loading-overlay p {
  position: absolute;
  bottom: 5px;
  width: 99vw;
  text-align: center;
}

.loading-overlay-dots {
  display: inline-block;
  margin-left: 2.5px;
  letter-spacing: 1px;
}

.iframe-button-wrapper .iframe-toggle-button {
  opacity: 0.1;
  transition: opacity 0.2s ease;
}

.iframe-button-wrapper:hover .iframe-toggle-button {
  opacity: 1;
}

.iframe-toggle-button {
  padding: 8px 15px;
  background: rgba(var(--bg-color), 0.8);
  border-radius: 8px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.1s linear;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.35);
  backdrop-filter: blur(4px) saturate(1.5);
  -webkit-backdrop-filter: blur(4px) saturate(1.5);
}

.iframe-toggle-button:hover {
  border: 0.5px solid rgba(255, 255, 255, 0.3);
}

.iframe-toggle-button span {
  transition: all 0.1s linear;
}

.iframe-toggle-button:hover span {
  opacity: 0.9;
}

.iframe {
  position: absolute;
  top: 20%;
  left: 19.8%;
  height: calc(59.2% + 19.5px);
  width: calc(42.5vw + 20px);
  clip-path: inset(0 round 15px);
  background-color: rgba(var(--bg-color), 0.5);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  align-content: center;
  text-align: center;
  transition: all 0.1s linear;
}

.iframe iframe {
  height: 99.25%;
  width: 99.5%;
  margin-bottom: 1%;
  clip-path: inset(5px round 10px);
  color: white;
  font-size: 1.45rem;
}

.toc {
  position: absolute;
  top: 20%;
  left: 2%;
  height: calc(24px + 55%);
  width: 12.5vw;
  background: rgba(var(--bg-color), 0.5);
  border-radius: 15px;
  padding: 25px;
  padding-top: 0;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.35);
  backdrop-filter: blur(4px) saturate(1.5);
  -webkit-backdrop-filter: blur(4px) saturate(1.5);
  font-size: 1.21rem;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.1s linear;
  transition: border 0.25s linear, box-shadow 0.25s linear,
    background 0.25s linear;
}

.toc h3 {
  font-size: 1.35rem;
  margin-top: 26px;
  margin-bottom: 5px;
  margin-left: -7px;
  color: white;
}

.toc h4 {
  font-size: 1.1rem;
  margin-top: 11px;
  margin-bottom: 15px;
  margin-left: 25px;
  font-weight: 550;
}

.toc h5 {
  font-size: 0.95rem;
  margin-top: -7px;
  margin-bottom: 20px;
  margin-left: 60px;
  font-style: italic;
}

.toc a {
  color: white;
  text-decoration: none;
}

.description {
  position: absolute;
  top: 20%;
  left: 19.8%;
  height: 55%;
  width: 40.5vw;
  background: rgba(var(--bg-color), 0.5);
  border-radius: 15px;
  padding: 25px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.35);
  backdrop-filter: blur(4px) saturate(1.5);
  -webkit-backdrop-filter: blur(4px) saturate(1.5);
  color: white;
  font-size: 1.2rem;
  text-wrap: pretty;
  text-align: justify;
  hyphens: auto;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 0.1s linear;
}

.description h2 {
  font-size: 1.9rem;
  text-decoration: bold;
  margin-top: 4px;
  margin-bottom: 16px;
  text-align: left;
  text-wrap: none;
  hyphens: manual;
}

.description p {
  margin-bottom: 0;
}

.description::-webkit-scrollbar-button {
  height: 3px;
}

.description-link {
  position: relative;
  color: white;
  text-decoration: none;
}

.description-link:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2.5px;
}

.description-link::before,
.description-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.description-link::before {
  background-image: repeating-linear-gradient(
    to right,
    white -3px,
    white 3px,
    transparent 3px,
    transparent 10px
  );
  bottom: 0;
  height: 1px;
  transition: opacity 0.2s ease;
}

.description-link::after {
  bottom: -0.75px;
  left: -2.5%;
  height: 1rem;
  opacity: 0;
  width: 105%;
  background-color: rgba(var(--bg-color), 0.3);
  filter: blur(5px) invert(100%);
  transition: all 0.2s ease;
  z-index: -1;
}

.description-link:hover::before {
  opacity: 0;
}

.description-link:hover {
  opacity: 1;
}

.description-link:hover::after {
  height: 1.5rem;
  opacity: 1;
}

.view-count {
  position: absolute;
  bottom: 1.5%;
  left: 1%;
  background: rgba(var(--bg-color), 0.6);
  border-radius: 12px;
  padding: 8px 15px;
  color: white;
  font-size: large;
  border: 0.05px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.25);
  backdrop-filter: blur(3px) saturate(1.5);
  -webkit-backdrop-filter: blur(3px) saturate(1.5);
  transition: all 0.15s linear;
}

.view-count:hover {
  border: 0.05px solid rgba(255, 255, 255, 0.19);
}

.view-count a {
  color: white;
  text-decoration: none;
  transition: all 0.1s linear;
}

.last-edited {
  position: absolute;
  bottom: 1.5%;
  right: 1%;
  background: rgba(var(--bg-color), 0.6);
  border-radius: 12px;
  padding: 8px 15px;
  color: white;
  font-size: large;
  border: 0.05px solid rgba(255, 255, 255, 0.11);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.25);
  backdrop-filter: blur(3px) saturate(1.5);
  -webkit-backdrop-filter: blur(3px) saturate(1.5);
  transition: all 0.15s linear;
}

.last-edited:hover {
  border: 0.05px solid rgba(255, 255, 255, 0.2);
}

.last-edited a {
  color: white;
  text-decoration: none;
  transition: all 0.1s linear;
}

.search {
  position: absolute;
  top: 20%;
  right: 2%;
  height: 40%;
  width: calc(29vw + 25px);
  background: rgba(var(--bg-color), 0.5);
  border-radius: 15px;
  padding: 0 0 10px 25px;
  color: white;
  font-size: 1.19rem;
  overflow: hidden;
  align-content: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.35);
  backdrop-filter: blur(4px) saturate(1.5);
  -webkit-backdrop-filter: blur(4px) saturate(1.5);
  transition: all 0.1s linear;
}

.search-text {
  font-weight: 500;
}

.search h2 {
  font-size: 2rem;
  text-decoration: bold;
  margin-top: 28px;
  margin-bottom: 22px;
}

.search h2:nth-child(1) {
  margin-bottom: -2px;
}

.search h2:nth-child(2) {
  margin-left: -8px;
}

.search h2:nth-child(3) {
  margin-left: -6px;
}

.search h2:nth-child(4) {
  margin-left: -8px;
  margin-right: 12px;
  padding-bottom: 3px;
  height: 37.5px;
  width: 205px;
}

.search h2:hover .search-online-text {
  opacity: 0.7;
}

.search a {
  text-decoration: none;
  color: inherit;
}

.search h2:nth-child(1) .search-box-icons {
  margin-right: 9px;
  margin-bottom: -1px;
}

.search h2:nth-child(2) .search-box-icons {
  margin-right: 10px;
  margin-bottom: -3.5px;
}

.close-chat-icon {
  margin-right: 15px;
}

.search h2:nth-child(3) .search-box-icons {
  margin-right: 14px;
}

.search h2:nth-child(4) .search-box-icons {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  margin-right: 11.5px;
}

.like-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: 2rem;
  text-decoration: bold;
  margin-top: 8px;
}

.search button:hover .search-liked-text {
  opacity: 0.7;
}

.article-link {
  position: absolute;
  top: 62.6%;
  right: 2%;
  height: 11vh;
  width: 29vw;
  margin-top: 10px;
  background: rgba(var(--bg-color), 0.5);
  border-radius: 15px;
  padding: 25px;
  color: white;
  font-size: 1.21rem;
  overflow: hidden;
  text-align: center;
  align-content: center;
  transition: all 0.1s linear;
  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(var(--bg-color), 0.35);
  backdrop-filter: blur(4px) saturate(1.5);
  -webkit-backdrop-filter: blur(4px) saturate(1.5);
}

.article-link:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.article-link > * {
  transition: opacity 0.1s linear;
}

.article-link:hover > * {
  opacity: 0.7;
}

.more-loading-overlay {
  cursor: default;
  position: absolute;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  color: white;
  font-size: 1.3rem;
  z-index: 20000;
  background: linear-gradient(
    to top,
    rgba(var(--bg-color), 1) 0%,
    rgba(var(--bg-color), 0) 90%
  );
  opacity: 1;
  bottom: 0;
  left: 0;
  height: 75px;
  width: 100vw;
  text-align: center;
  align-content: center;
  cursor: progress;
  transition: all 0.5s cubic-bezier(0, 0, 0.58, 1);
}

.more-loading-overlay span {
  margin: 0 0 0 1px;
  opacity: 0;
  animation: blink 1.4s infinite both;
}

.more-loading-overlay span span:nth-child(1) {
  margin: 0;
  animation-delay: 0s;
}
.more-loading-overlay span span:nth-child(2) {
  margin: 0;
  animation-delay: 0.2s;
}
.more-loading-overlay span span:nth-child(3) {
  margin: 0;
  animation-delay: 0.4s;
}

.hidden {
  transition-delay: 1s;
  z-index: -1000;
  opacity: 0;
  transition: all 0.1s linear;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1181px) {
  .toc {
    left: 1.5%;
  }

  .description {
    width: 37.5vw;
  }

  .search {
    right: 1.5%;
  }

  .article-link {
    right: 1.5%;
  }
}
