@media only screen and (max-width: 900px) {
  header {
    height: 65px;
    width: 85%;
    padding: 15px;
    top: 15px;
    left: 3.5vw;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(var(--bg-color), 0.25);
    border-radius: 20px;
    border: 1px solid rgba(var(--bg-color), 0.125);
    z-index: 900;
  }

  .header-logo {
    top: 7px;
    left: 15px;
    font-size: 24.5px;
  }

  .header-logo a span {
    font-weight: 600;
  }

  .list-box-container {
    position: absolute;
    top: 95px;
    left: 0px;
    height: 210px;
    width: 87vw;
    padding: 10px;
    gap: 10px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background: rgba(var(--bg-color), 0.7);
    border-radius: 20px;
    border: 1px solid rgba(var(--bg-color), 0.125);
    z-index: 7000;
  }

  @keyframes slideDown {
    from {
      height: 0;
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      height: 210px;
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    from {
      height: 210px;
      opacity: 1;
      transform: translateY(0);
    }
    to {
      height: 0;
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .list-box {
    max-width: 490px;
    padding: 5px;
  }

  .list-box h2 {
    font-size: 1rem;
    font-weight: 400;
    width: 30%;
  }

  .list-box:hover {
    opacity: 1;
  }

  .list-box button {
    position: absolute;
    bottom: 7px;
    left: -1px;
    font-size: 0.9rem;
    color: rgb(255, 53, 53);
  }

  .list-box div h2 {
    margin-left: 20px;
  }

  .list-box h3 {
    bottom: -8px;
    left: auto;
    right: 33%;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgb(234, 234, 234);
    padding-bottom: 3px;
  }

  .header-icon {
    top: 9px;
    font-size: 0.7rem;
  }

  .header-icon:hover {
    opacity: 1;
  }

  .change-source-button {
    top: 9.1px;
    right: 143px;
  }

  .change-source-icon {
    bottom: 0;
  }

  .source-selection-container {
    left: -5px;
  }

  .source-selection {
    height: 42px;
  }

  .source-selection div {
    width: 97.5%;
  }

  .source-selection h2 {
    width: 45%;
  }

  .source-selection h3 {
    height: 30px;
    width: 30%;
    right: 150px;
    text-align: end;
    align-content: end;
  }

  .fandom-input {
    top: 0;
    left: 0;
    height: 30px;
    width: 66%;
    padding: 0 8px;
    background-color: rgba(var(--bg-color), 1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 10px;
    font-size: 0.83rem;
  }

  .fandom-input:focus {
    border: 1px solid rgba(255, 255, 255, 0.25);
  }

  .change-bgcolor-button {
    top: 13.9px;
    right: 55px;
  }

  .change-bgcolor-icon {
    position: relative;
    bottom: 5px;
  }

  .color-picker-container {
    min-height: 290px;
    left: -5px;
    overflow-y: auto;
  }

  .color-picker-box {
    max-height: 150px;
    min-width: 70%;
  }

  .color-input-row {
    margin-top: 1px;
  }

  .color-input-manual {
    bottom: 9px;
    height: 32px;
    width: 79.5%;
    padding: 0 40px 0 15px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(var(--bg-color), 1);
    border: 1px solid transparent;
    border-radius: 13px;
    font-size: 0.83rem;
  }

  .color-input-manual:focus {
    border: 1.5px solid rgba(255, 255, 255, 0.5);
  }

  .reset-bgcolor-button {
    height: 34px;
    padding: 0 20px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(var(--bg-color), 1);
    border-radius: 13px;
    font-size: 0.85rem;
  }

  .preset-theme-buttons {
    gap: 5px;
  }

  .preset-theme-button {
    height: 40px;
    font-size: 0.85rem;
  }

  .preset-theme-button:hover {
    opacity: 1;
  }

  .change-lang-button {
    right: 11px;
  }

  .change-lang-icon {
    bottom: 0;
  }

  .lang-sub-group h2 {
    width: 140px;
  }

  .lang-sub-group h3 {
    width: 50%;
    right: 20px;
  }

  .liked-articles-button {
    right: 98px;
  }

  .liked-articles-icon {
    bottom: 0;
  }

  .liked-articles-container {
    left: -5px;
  }

  .download-liked-articles-button {
    font-size: 1rem;
    border-radius: 12px;
    background-color: rgba(var(--bg-color), 1);
    border: 0.5px solid rgba(255, 255, 255, 0.15);
  }

  .no-liked-articles-text h2 {
    width: 99%;
  }

  .gray-border-search-results h2 {
    width: 40%;
  }

  .gray-border-search-results h3 {
    width: 28%;
    right: 150px;
  }
}
