header {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  height: 50px;
  padding: 10px;
  color: white;
  position: relative;
  z-index: 1000;
}

.header-logo {
  font-size: 33px;
  font-weight: lighter;
  position: absolute;
  left: 15px;
  transition: all 0.1s linear;
}

span {
  font-weight: 500;
}

.search-icon {
  cursor: pointer;
  position: absolute;
  top: 24.5px;
  left: 174px;
  transition: all 0.1s linear;
}

.header-logo-dim {
  position: absolute;
  top: 4.5px;
  left: 9px;
  height: 60px;
  width: 195px;
  z-index: 1000;
}

.header-logo-dim:hover ~ .header-logo {
  opacity: 0.7;
}

.header-logo-dim:hover ~ .search-icon {
  opacity: 0.7;
}

.search-input {
  position: absolute;
  top: 5px;
  left: 8.5px;
  height: 59px;
  width: 250px;
  padding: 0 18px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  border-radius: 10px;
  color: white;
  outline: none;
  font-size: 20px;
  z-index: 1000;
}

::placeholder {
  color: white;
  opacity: 0.7;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 0.7;
}

.search-icon-animated {
  position: absolute;
  top: 22.5px;
  left: 250px;
  z-index: 1000;
  animation: spinner 1.5s ease-in-out infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.search-result-container {
  position: relative;
  top: 60px;
  left: -1px;
  height: 45vh;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  clip-path: inset(0 round 10px);
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-result {
  width: max-content;
  max-width: 490px;
  height: max-content;
  position: relative;
  padding: 10px;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;
  cursor: pointer;
  flex-shrink: 0;
  clip-path: inset(0 round 10px);
}

.search-result a {
  color: white;
  text-decoration: none;
}

.gray-border {
  display: flex;
  flex-direction: row;
  width: 490px;
  border-bottom: 1px solid grey;
}

.search-result h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 3px;
  transition: all 0.1s linear;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 62%;
}

.search-result:hover {
  opacity: 0.7;
}

.search-result::-webkit-scrollbar {
  display: none;
}

.header-icon {
  position: absolute;
  right: 15px;
  top: 15px;
  transition: all 0.1s linear;
}

.header-icon:hover {
  opacity: 0.7;
}

.liked-articles-icon {
  top: 20px;
  right: 82px;
  cursor: pointer;
}

.liked-articles-container {
  position: absolute;
  top: 70px;
  right: 80px;
  height: 45vh;
  width: 500px;
  background: rgba(0, 0, 0, 0.8);
  clip-path: inset(0 round 10px);
  padding: 15px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-left: 5px;
}

.download-liked-articles-button {
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0);
  border-radius: 15px;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 1.21rem;
  transition: all 0.1s linear;
}

.download-liked-articles-button:hover {
  opacity: 0.75;
}

.search-result button {
  position: absolute;
  bottom: 14.5px;
  left: -1px;
  font-size: 0.95rem;
  color: rgb(234, 234, 234);
}

.search-result:hover button {
  color: rgb(255, 53, 53);
  opacity: 1;
}

.search-result div h2 {
  margin-left: 15px;
}

.search-result h3 {
  position: absolute;
  bottom: -7px;
  left: 340px;
  font-size: 0.9rem;
  font-weight: 400;
  color: rgb(234, 234, 234);
  padding-bottom: 3px;
}

.no-liked-articles-text:hover {
  cursor: default;
  opacity: 1;
}
