@media only screen and (max-width: 900px) {
  header {
    height: 65px;
    width: 85%;
    padding: 15px;
    top: 15px;
    left: 3.5vw;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .header-logo {
    top: 7px;
    left: 15px;
    font-size: 24.5px;
  }

  span {
    font-weight: 600;
  }

  .search-icon {
    top: 14px;
    left: 165px;
  }

  .header-logo-dim {
    top: 1px;
    left: 9px;
    height: 45px;
    width: 175px;
  }

  .search-input {
    height: 32px;
    width: 60%;
    top: 6.5px;
    left: 12px;
    font-size: 16px;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    background-color: rgba(17, 25, 40, 0.5);
    border-radius: 13px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .search-result-container {
    position: absolute;
    top: 95px;
    left: -3px;
    height: 210px;
    width: 88.5vw;
    padding: 10px;
    gap: 10px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(17, 25, 40, 0.8);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .search-result {
    max-width: 490px;
    padding: 5px;
  }

  .search-result h2 {
    font-size: 1rem;
    font-weight: 400;
  }

  .liked-articles-title {
    width: 28%;
  }

  .search-result:hover {
    opacity: 1;
  }

  .header-icon {
    top: 9px;
    right: 11px;
    font-size: 0.7rem;
  }

  .liked-articles-icon {
    right: 58px;
  }

  .liked-articles-container {
    top: 95px;
    left: -5px;
    height: 210px;
    width: 87vw;
    padding: 10px;
    backdrop-filter: blur(7px) saturate(200%);
    -webkit-backdrop-filter: blur(7px) saturate(200%);
    background-color: rgba(10, 15, 24, 0.8);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .download-liked-articles-button {
    font-size: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }

  .search-result button {
    position: absolute;
    bottom: 7px;
    left: -1px;
    font-size: 0.9rem;
    color: rgb(255, 53, 53);
  }

  .search-result div h2 {
    margin-left: 25px;
  }

  .search-result h3 {
    bottom: -5px;
    left: auto;
    right: 33%;
    font-size: 0.7rem;
    font-weight: 400;
    color: rgb(234, 234, 234);
    padding-bottom: 3px;
  }
}
